* {
    margin: 0;
    padding: 0;
    font-family: metropolis;
}

body{ 
    height: 100vh;
    background-image: url(./Assets/background-image.png);
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: auto;
    margin: 1440;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 50px; */
    height:10vh;
    padding:10px 0;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  
}

nav a{
    text-decoration: none;
    color:black;
    font-size:15px;
    font-size: 20px;
}

 .search>.button{
    background-color: #ed017f;
    color:white;
    border-radius: 5px;
    border:none;
    padding: 8px 15px;
    font-size: 15px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;

}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7%;
    height: 82vh;
}

.hero-left {
    position: relative;
    width: 35%;

}

.hero-right{
    position: relative;
    width: 65%;
}

h1{
    font-size: 60px;
    padding-bottom: 20px;
}

p{
    font-size: 25px;
    color: #676767;
    padding-bottom: 20px;
}

/* .buttons{
    display: flex;
    width: 325px;
} */
.left-btn-1{
    padding: 10px 20px;
    background-color: #ED017F;
    color: #ffffff;
    border:none;
    border-radius: 5px;
   }

.left-btn-2{
    padding: 10px 20px ;
    color: #ED017F;
    border-radius: 5px;
    border: 1px solid #ED017F;
    background-color: #ffffff;
    margin-left: 10px;
}

.contacts {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 10px;
    bottom: -120px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone>p{
    padding-top: 20px;
}

.line {
    background-color: #676767;
    height: 20px;
    width: 2px;
    margin: 0 10px;
}

.media ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
}

.car-loan{
    position: absolute;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    padding: 0px 15px;
    border-radius: 35px;
    top: 8%;
    left: 10%;
    background-color: #ffffff;
    border: none;
    box-shadow: 1px 1px 20px grey;
}

.car-loan>p {
    padding-top:20px;
}

.home-loan{
    position: absolute;
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 175px;
    justify-content: space-between;
    padding: 0px 15px;
    border-radius: 35px;
    right: 10%;
    top: 25%;
    background-color: #ffffff;
    border: none;
    box-shadow: 10px 10px 50px grey;
}

.home-loan>p {
    padding-top: 20px;
}

.hero-right>img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    body {
        background-position: center;
    }
    main {
        padding-top: 10%;
        flex-direction: column-reverse;
        gap: 10px;
        margin: 0 10%;
    
    }
    .hero-right {
        width: 100%
    }
    .hero-left {
        width: 100%;
      text-align: center;
      
    }
    .contact {
      
        width: 100%;
        justify-content: center;    
    }
    
    .car-loan {
        top: 3%;
        left: 5%;
    }
    .home-loan {
        /* right: 0; */
        TOP: 18%;
        left: 5%;
    }

    .search{
        display: none;
    }


    .nav-menu {
        display: none;
    }

    .hero-right>img {
        top: 20px;;
    }
    

}

@media screen and (max-width: 425px) {

    /* .car-loan {
        left: -10px;
        width: 95px;
    }
    .home-loan {
        width: 110px;
        right: -25px;
    } */
   
    .car-loan {
        top: 3%;
        left: 5%;
    }
    .home-loan {
        /* right: 0; */
        TOP: 18%;
        left: 5%;
    }
}